.UploadFormContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  & .FileDropContainer {
    display: flex;
    width: 800px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid blue;
    padding: 5px;

    & .InputFileButton {
      border: 1px solid blue;
      display: none;
    }

    & .InputFileLabel {
      padding: 6px 25px;
      background-color: #ff6600;
      width: 200px;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      margin-bottom: 5px;
    }

    & .fileDropBox {
      box-sizing: border-box;
      height: 320px;
      width: 800px;
      background-color: aliceblue;
      border: 1px solid blue;
      margin-bottom: 10px;
      overflow: scroll;

    }
  }
}

.fileRowTemplate {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid purple;

  & div:nth-child(1){
    border: 1px solid orange;
    width: 40px;
  }
  & div:nth-child(2){
    border: 1px solid green;
    width: 40%;
  }
  & div:nth-child(3){
    border: 1px solid green;
    width: 20%;
  }
}
